{{ define "main" }}
{{ partial "header" . }}

<main class="content site-container my-10 lg:my-14">
    <div class="prose prose-zinc">
        {{ partial "content" . }}
    </div>

    <div class="mt-12">
        <div class="space-y-11">
            {{ range .Data.Pages.GroupByDate "2006" "desc"}}
            <section>
                <h2 class="mb-4 font-sans text-sm font-semibold tracking-wide text-zinc-500">{{ .Key }}</h2>
                <ol class="list-none p-0 m-0">
                    {{ range sort .Pages "Date" "desc" }}
                    {{ partial "list" . }}
                    {{ end }}
                </ol>
            </section>
            {{ end }}
        </div>
    </div>
</main>

{{ partial "footer" . }}
{{ end }}
