{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="mx-auto max-w-content px-6">
        <div class="prose">
            {{ partial "content" . }}
        </div>

        <div class="posts">
            <h1>{{ .Title }}</h1>
            <hr>
            <ul class="list-none pl-0">
                {{ range .Data.Terms.Alphabetical }}
                <li class="taxonomy-term">
                    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ partial "footer" . }}
{{ end }}
